<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Welome to Love Connect!</title>
</head>
<header>
    <img id="logo" src="/images/Screenshot 2024-08-14 at 9.56.57 AM (2).jpeg" alt="heart logo for dating site" height="125px" width="150px">
    <a id="home" href="/login">Home</a>
    <a id="profile" href="/profile">Profile</a>
</header>

<body>
    {{{body}}}
</body>

</html>