<div>
    <form id="signup">
        <h2>Email</h2>
        <input type="text" id="signup-email" name="Email">
        <h2>Password</h2>
        <input type="text" id="signup-password" name="Password">
        <h2>First Name</h2>
        <input type="text" id="first-name" name="First Name">
        <h2>Last Name</h2>
        <input type="text" id="last-name" name="Last Name">
        <h2>Age</h2>
        <input type="text" id="age" name="Age">
        <h2>Gender</h2>
        <input type="text" id="gender" name="Gender">
        <h2>Tell Us About Yourself</h2>
        <input type="text" id="about-me" name="About Me">
    </form>
</div>
 <script src='./js/aboutyou.js'></script>