<div>
    <form id="signup">
        <input type="text" id="signup-email" name="Email">
        <input type="text" id="signup-password" name="Password">
        <input type="text" id="first-name" name="First Name">
        <input type="text" id="last-name" name="Last Name">
        <input type="text" id="age" name="Age">
        <input type="text" id="gender" name="Gender">
        <input type="text" id="about-me" name="About Me">
    </form>
</div>