<div>
    <h1>Men</h1>
</div>
<div class="connection-card"></div>
<p>First Name: {{first_name}}</p>
<p>Last Name: {{last_name}}</p>
<p>Age: {{age}}</p>
<p>About You:
    {{about_you}}</p>
<button class="btn-bd-primary" id="connect-btn">Connect</button>
</div>
 <script src='./js/connectbtn.js'></script>