<div class="not_logged">
    <div class='card-header col-md-10'>
        <h2>Sign in</h2>
    </div>
    <div>
        <form class="login-form">
            <input type="text" id="login-email" name="Email">
            <input type="text" id="login-password" name="Password">
            <button id="login-btn">Login</button>
        </form>
    </div>
    <div>
        <form class="signup-form">
            <p>New user?</p>
            <input type="text" id="signup-email" name="Email">
            <input type="text" id="signup-password" name="Password">
            <button id="signup-btn">Sign up</button>
        </form>
    </div>
</div>

<script src='./assets/js/login.js'></script>