<div class="not_logged">
    <div class='card-header col-md-10'>
        <h2>Sign in</h2>
    </div>
    <div>
        <input type="text" id="email" name="Email">
        <input type="text" id="password" name="Password">
        <button>Login</button>
    </div>
    <div>
        <p>New user?</p>
        <button>Create an account</button>
    </div>
</div>