<div class="login" style="display: flex;
    flex-direction: column;
    align-items: center;">
    <div class="login">
        <div class='card-header col-md-10'>
            <h2>Sign in</h2>
        </div>
        <div>
            <form class="login-form" style="display: flex;
    flex-direction: column;">
                <input type="text" id="login-email" name="Email">
                <input type="text" id="login-password" name="Password">
                <button class="btn-bd-primary" id="login-btn">Login</button>
            </form>
        </div>
        <div>
            <h2>New user?</h2>
            <button class="btn-bd-primary" id="signup-btn">Sign up</button>
        </div>
    </div>

    <script src='./public/js/login.js'></script>