<div class="profile">
    <div>
        <div>
            <h1>My Profile</h1>
        </div>
        <p>First Name: <span id="profile-first-name"></span></p>
        <p>Last Name: <span id="profile-last-name"></span></p>
        <p>Age: <span id="profile-age"></span></p>
        <p>About You: <span id="profile-about-you"></span></p>
    </div>
    <div>
        <div>
            <h1>Connections</h1>
        </div>
        <div class="connection-card">
            <p>First Name: <span class="connection-first-name"></span></p>
            <p>Last Name: <span class="connection-last-name"></span></p>
            <p>Age: <span class="connection-age"></span></p>
            <p>About You: <span class="connection-about-you"></span></p>
        </div>
    </div>
</div>
<script src='./js/profile.js'></script>