<div class="selection-container">
    <div class="selection-item">
        <a href="/user/men">
            <button type="button" id="menBtn" class="btn btn-danger btn-lg">Men</button>
        </a>
        <img src="/images/MEN SELECTION.jpg" alt="Men Selection" class="selection-image">
    </div>
    <div class="selection-item">
        <a href="/user/women">
            <button type="button" id="womenBtn" class="btn btn-danger btn-lg">Women</button>
        </a>
        <img src="/images/WOMAN SELECT.jpg" alt="Women Selection" class="selection-image">
    </div>
</div>