<div class="selection">
    <button id="men" href="#placeholder">Men</button>
        <img src="/images/MEN SELECTION.jpg" href="#placeholder">
    <button id="women" href="#placeholder">Women</button>
        <img src="/images/WOMAN SELECT.jpg" href="#placeholder">
</div>