<div class="selection">
    <button type="button" id="menBtn" class="btn btn-danger btn-lg">Men</button>
    <button type="button" id="womenBtn" class="btn btn-danger btn-lg">Women</button>
</div>
<div id="images">
    <img src="/images/MEN SELECTION.jpg" height="500px" width="450px">
    <img src="/images/WOMAN SELECT.jpg" height="500px" width="450px">
</div>