header {
    display: flex;
    justify-content: space-between;
    background-color: #e30404;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    }

.selection {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

#home {
    font-size: xx-large;
    text-decoration: underline;
    color: white;
}

#signup {
    display: flex;
    justify-content: center;

}

h2 {
    color: #e30404;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}

body {
    background-color: rgb(149, 77, 216);
}

#profile {
    font-size: xx-large;
    text-decoration: underline;
    color: white;
}