header {
    display: flex;
    justify-content: space-between;
    background-color: #e30404;
    padding-top: 1%;
    padding-bottom: 1%;
    }

.selection {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

#home {
    font-size: xx-large;
    text-decoration: underline;
}